body {
    background-image: url("https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-prn1/t31.0-8/10899979_1022034314478794_4121882156030024765_o.jpg");
    background-attachment: fixed;
    background-size: 100% 100%;
    background-position: strech; 
}
h1 {
    color: white;
    text-align: center;
    font-size: 400%;
}
p {
    color: white;
    text-align: center;
    font-size: 250%;
}

/* unvisited link */
a:link {
    color: #FF0000;
}

/* visited link */
a:visited {
    color: #00FF00;
}

/* mouse over link */
a:hover {
    color: #FF00FF;
}

/* selected link */
a:active {
    color: #0000FF;
}